docs/design/rev_1/kicad/power_supply_v2/power_supply_v2-backups
docs/design/rev_1/kicad/power_supply_v2/~power_supply_v2.kicad_sch.lck
docs/design/rev_1/kicad/power_supply_v2/power_supply_v2.kicad_prl
docs/design/rev_1/kicad/power_supply_v2/_autosave-*